htmltabletomd
langchain
langchain-community
langchain-google-genai
google-generativeai
langchain-chroma
chromadb
pdf2image
unstructured
nltk
matplotlib
pillow
tqdm
tokenizers
langchain-experimental
pdfminer.six
scikit-learn
gradio